.home-banner {
  width: 100vw;
  min-height: 100vh;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  position: relative;
}
.home-banner::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;

  width: 100%;
  height: 200px;

  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0),
    rgba(10, 10, 10, 1)
  );
}


.home-title {
  color: white;
  font-size: 32px;
  font-weight: 600;

  background: rgba(0, 0, 0, 0.5);
  padding: 12px 18px;
  border-radius: 10px;
}
