.navbar {
  display: flex;
  align-items: center;

  height: 50px;
  width: 100%;
  padding: 0 30px;
  box-sizing: border-box;

  background: linear-gradient(
    to right,
    #0d47ff,
    #d32f2f
  );
    border-radius: 18px 18px 18px 18px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);


}

/* LEFT */
.logo {
  color: white;
  font-size: 26px;
  font-weight: 600;
  white-space: nowrap;
}

/* RIGHT */
.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
  margin-left: auto;
  padding: 0;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  white-space: nowrap;
}


.nav-links a:hover {
  background-color: rgba(255, 255, 255, 0.2);
}


